<article class="module">
    <header>
        <h1>{{ data.modules.items[module_id].name }}</h1>
        <h3>{{ data.modules.items[module_id].type }}</h3>
        <div class="state_icons">
            {% if data.modules.items[module_id].reachable %} 
                <img src="{{ url_for('static', filename='images/reachable.png') }}"" title="Module is reachable" class="state_icon"/>
            {% elif data.modules.items[module_id].reachable is not none %} 
                <img src="{{ url_for('static', filename='images/unreachable.png') }}"" title="Module is unreachable" class="state_icon"/>
            {% endif %}   
            {% if data.modules.items[module_id].battery_state == data.modules.items[module_id].battery_states[4] %} 
                <img src="{{ url_for('static', filename='images/battery_full.png') }}"" title="Battery full" class="state_icon"/>
            {% elif data.modules.items[module_id].battery_state == data.modules.items[module_id].battery_states[3] %} 
                <img src="{{ url_for('static', filename='images/battery_high.png') }}"" title="Battery high" class="state_icon"/>
            {% elif data.modules.items[module_id].battery_state == data.modules.items[module_id].battery_states[2] %} 
                <img src="{{ url_for('static', filename='images/battery_medium.png') }}"" title="Battery medium" class="state_icon"/>
            {% elif data.modules.items[module_id].battery_state == data.modules.items[module_id].battery_states[1] %} 
                <img src="{{ url_for('static', filename='images/battery_low.png') }}"" title="Battery low" class="state_icon"/>
            {% elif data.modules.items[module_id].battery_state == data.modules.items[module_id].battery_states[0] %} 
                <img src="{{ url_for('static', filename='images/battery_very_low.png') }}"" title="Battery very low" class="state_icon"/>
            {% endif %}     
            {% if data.modules.items[module_id].boiler_status %} 
                <img src="{{ url_for('static', filename='images/boiler_on.png') }}"" title="Boiler ON" class="state_icon"/>
            {% endif %}     
            {% if data.modules.items[module_id].boiler_valve_comfort_boost %} 
                <img src="{{ url_for('static', filename='images/valve_boost.png') }}"" title="Comfort boost ON" class="state_icon"/>
            {% endif %}    
            {% if data.modules.items[module_id].boiler_error %} 
                <img src="{{ url_for('static', filename='images/error.png') }}"" title="Boiler error" class="state_icon"/>
            {% endif %}     
        </div>
    </header>
    {% if data.modules.items[module_id].boiler_error is not none %}
        <p class="error">{{ data.modules.items[module_id].boiler_error }}</p>
    {% endif %}     
    <table>
        {% if data.modules.items[module_id].firmware_revision is not none %} 
        <tr>
            <td>Firmvare version</td>
            <td>{{ data.modules.items[module_id].firmware_revision }}</td>
        </tr>
        {% endif %}
        {% if data.modules.items[module_id].rf_strenght is not none %} 
        <tr>
            <td>Signal strengt</td>
            <td>{{ data.modules.items[module_id].rf_strenght }}</td>
        </tr>
        {% endif %}
        {% if data.modules.items[module_id].wifi_strenght is not none %} 
        <tr>
            <td>Wifi strengt</td>
            <td>{{ data.modules.items[module_id].wifi_strenght }}</td>
        </tr>
        {% endif %}
        {% if data.modules.items[module_id].boiler_control is not none %} 
        <tr>
            <td>Control type</td>
            <td>{{ data.modules.items[module_id].boiler_control }}</td>
        </tr>
        {% endif %}
        {% if data.modules.items[module_id].dhw_control is not none %} 
        <tr>
            <td>Domestic hot water control</td>
            <td>{{ data.modules.items[module_id].dhw_control }}</td>
        </tr>
        {% endif %}
        {% if data.modules.items[module_id].last_seen is not none %} 
        <tr>
            <td>Last seen</td>
            <td>{{ data.modules.items[module_id].last_seen }}</td>
        </tr>
        {% endif %}
    </table>
</article>