<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>Netatmo termostat - monitoring</title>
</head>
<body>
    <img src="{{ data }}" title="Plot" class="plot"/>
</body>
</html>