<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>Netatmo termostat - monitoring</title>
</head>
<body class="plot">
    <header class="plot">
        <a href="/home/" class="home_button">Home</a>
        {% if item_type == 'room' %}
            {% include 'room.j2' %}
        {% elif item_type == 'home' %}
            {% include 'home.j2' %}
        {% endif %}
    </header>
    <article class="plot">
        <img src="{{ plot_data }}" title="Plot" class="plot"/>
    </article>
</body>
</html>