<article class="module">
    <header>
        <h1>Schedule: {{ schedule.name }}</h1>
        <h3>{{ schedule.type }}</h3>
        <div class="state_icons">
            {% if schedule.selected %} 
                <img src="{{ url_for('static', filename='images/reachable.png') }}" title="Schedule is selected" class="state_icon"/>
            {% elif schedule.selected is not none %} 
                <img src="{{ url_for('static', filename='images/unreachable.png') }}" title="Schedule is not selected" class="state_icon"/>
            {% endif %} 
        </div>
    </header>
    <article>
        <table>
            {% if schedule.hg_temp is not none %} 
            <tr>
                <td>Frost guard temperature</td>
                <td>{{ schedule.hg_temp }} &degC</td>
            </tr>
            {% endif %}
            {% if schedule.away_temp is not none %} 
            <tr>
                <td>Away temperature</td>
                <td>{{ schedule.away_temp }} &degC</td>
            </tr>
            {% endif %}
        </table>
        <img src="{{ schedule.get_schedule_plot(room.id) }}" title="Schedule plot" class="schedule_plot"/>
    </article>
</article>