<article class="module">
    <header>
        <h1>Schedule: {{ data.data.schedules.items[schedules_ids].name }}</h1>
        <h3>{{ data.schedules.items[schedules_ids].type }}</h3>
        <div class="state_icons">
            {% if data.schedules.items[schedules_ids].selected %} 
                <img src="{{ url_for('static', filename='images/reachable.png') }}" title="Schedule is selected" class="state_icon"/>
            {% elif data.schedules.items[schedules_ids].selected is not none %} 
                <img src="{{ url_for('static', filename='images/unreachable.png') }}" title="Schedule is not selected" class="state_icon"/>
            {% endif %} 
        </div>
    </header>
    <article>
        <table>
            {% if data.schedules.items[schedules_ids].hg_temp is not none %} 
            <tr>
                <td>Frost guard temperature</td>
                <td>{{ data.schedules.items[schedules_ids].hg_temp }} &degC</td>
            </tr>
            {% endif %}
            {% if data.schedules.items[schedules_ids].away_temp is not none %} 
            <tr>
                <td>Away temperature</td>
                <td>{{ data.schedules.items[schedules_ids].away_temp }} &degC</td>
            </tr>
            {% endif %}
        </table>
        <img src="{{ data.schedules.items[schedules_ids].get_schedule_plot(room.id) }}" title="Schedule plot" class="schedule_plot"/>
    </article>
</article>